<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="calculate()">
        <div class="form-group">
          <label for="resistencia">R1 en ohmios</label>
          <input type="number" class="form-control" name="resistencia" [(ngModel)]="data.R1" value="1000">
        </div>
        <div class="form-group">
          <label for="capacitancia">C1 en microfaradios</label>
          <input type="number" class="form-control" name="capacitancia" [(ngModel)]="data.C1" value="5">
        </div>
        <div class="form-group">
          <label for="capacitancia">C2 en microfaradios</label>
          <input type="number" class="form-control" name="capacitancia" [(ngModel)]="data.C2" value="5">
        </div>
        <div class="form-group">
          <label for="capacitancia">C3 en microfaradios</label>
          <input type="number" class="form-control" name="capacitancia" [(ngModel)]="data.C3" value="5">
        </div>
        <div class="form-group">
          <label for="capacitancia">C4 en microfaradios</label>
          <input type="number" class="form-control" name="capacitancia" [(ngModel)]="data.C4" value="5">
        </div>
        <div class="form-group">
          <label for="voltaje">Voltaje en voltios</label>
          <input type="number" class="form-control" name="voltaje" [(ngModel)]="data.voltaje" value="10">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Calcular</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div *ngIf="chart">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>
  </div>

</div>
